.logo{
    background-color: #0a2e7f;
    width: 100px;
    padding-left: 1%;
}
.top_bar{
    margin-top: -10px;
    margin-left: -10px;
    background-color: #0a2e7f; 
    width: 111%;
    height: 110px;
}
.import_button{
    position: absolute;
    right: 1%;
    top: 28px;
    background-color: #1d52bc;
    width: 9%;
    height: 40px;
    border-radius: 10px;
    border: 5px solid #2d2b2b;
    font-size: 1em;
    color: transparent;
}
.import_button::file-selector-button{
    border:none;
    background-color: #1d52bc;
    margin-top: 5px;
    font-weight: bold;
    height: 40px;
}
.export_button{
    position: absolute;
    right: 11%;
    top: 28px;
    background-color: #1d52bc;
    width: 9%;
    height: 40px;
    border-radius: 10px;
    border: 5px solid #2d2b2b;
    font-size: 1em;
}
.spreadsheetcss{
    background-color: #2d2b2b;
    width: 110%;
    margin: -10px;
}
.text_search{
    position: absolute;
    top: 25px;
    left: 35%;
    width: 30%;
    height: 50px;
    font-size: 2em;
    border-radius: 30px;
    outline: none;
    padding-left: 1%;
    padding-right: 1%;
    border: 3px solid #2d2b2b;
}
.dropdown_search{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    width: 10%;
    top: 45px;
    left: 57%;
    border-width: 0px;
}
.spreadsheet_background{
    position: absolute;
    background-color: #2d2b2b;
    width: 110%;
    margin: -10px;
    height: 100%;
}
.sticky {
    position: fixed;
    top: 0;
}
.infoPage{
    right: 0px;
    width: 25%;
    height: 100%;
    background-color: #1d52bc;
}