.logo{
    background-color: #0a2e7f;
    width: 100px;
    padding-left: 1%;
}
.top_bar{
    margin-top: -10px;
    margin-left: -10px;
    background-color: #0a2e7f; 
    width: 111%;
    height: 110px;
}
.import_button{
    position: absolute;
    right: 10px;
    top: 28px;
    background-color: #1d52bc;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 5px solid #2d2b2b;
    font-size: 18;
}
.export_button{
    position: absolute;
    right: 140px;
    top: 28px;
    background-color: #1d52bc;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 5px solid #2d2b2b;
    font-size: 18;
}
.spreadsheetcss{
    background-color: #2d2b2b;
    width: 110%;
    margin: -10px;
}
.text_search{
    position: absolute;
    top: 25px;
    left: 35%;
    width: 30%;
    height: 50px;
    font-size: 30;
    border-radius: 30px;
    outline: none;
    padding-left: 1%;
    padding-right: 1%;
}